:root {
  --fc-day-bg: var(--tg-theme-secondary-bg-color, #f5f5f5);
  --fc-day-text: var(--tg-theme-text-color, #222);
  --fc-day-border: rgba(255, 255, 255, 0.08);
  --fc-today-bg: color-mix(
    in srgb,
    var(--tg-theme-button-color, #2ea6ff) 18%,
    var(--tg-theme-secondary-bg-color, #1c1c1e)
  );

  --fc-today-text: var(--tg-theme-text-color, #fff);
}

#calendar {
  background: var(--tg-theme-secondary-bg-color, #f5f5f5);
  padding: 8px;
  border-radius: 12px;
}

.fc-multimonth-title {
  background-color: var(--fc-day-bg);
}

/* обычный день */
.fc-daygrid-day-frame {
  background-color: var(--fc-day-bg);
}

/* заголовок дня недели */
.fc-col-header-cell {
  background-color: var(--fc-day-bg);
  color: var(--fc-day-text);
}

/* границы */
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: var(--fc-day-border);
}

[data-tg-theme="dark"],
:root[data-theme="dark"] {
  --fc-day-bg: #1c1c1e;
  --fc-day-border: rgba(255, 255, 255, 0.1);
}

.fc-day-today .fc-daygrid-day-frame {
  background-color: var(--fc-today-bg);
  color: var(--fc-today-text);
}

