@import './calendar/calendar.css';
@import './calendar/event_tooltip.css';
@import './calendar/add_event.css';
@import './calendar/event_details.css';

body {
  margin: 0;
  padding: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--tg-theme-bg-color, #fff);
  color: var(--tg-theme-text-color, #000);
}

header {
  margin-bottom: 12px;
}

.btn {
  flex: 1;

  height: 44px;
  border-radius: 12px;

  font-size: 15px;
  font-weight: 500;

  border: none;
  cursor: pointer;
}

.btn-primary {
  background: var(--tg-theme-button-color, #2ea6ff);
  color: var(--tg-theme-button-text-color);
}

.btn-secondary {
  background: transparent;
  color: var(--tg-theme-button-color, #2ea6ff);
}

.btn:active {
  transform: scale(0.98);
}

.btn.selected {
  box-shadow: 0 0 0 2px
    color-mix(
      in srgb,
      var(--tg-theme-button-color) 40%,
      transparent
    );
}