:root {
  --fc-day-bg: var(--tg-theme-secondary-bg-color, #f5f5f5);
  --fc-day-text: var(--tg-theme-text-color, #222);
  --fc-day-border: rgba(255, 255, 255, 0.08);
  --fc-today-bg: color-mix(
    in srgb,
    var(--tg-theme-button-color, #2ea6ff) 18%,
    var(--tg-theme-secondary-bg-color, #1c1c1e)
  );

  --fc-today-text: var(--tg-theme-text-color, #fff);

  --fc-tooltip-bg: var(--tg-theme-secondary-bg-color, #1c1c1e);
  --fc-tooltip-border: rgba(255, 255, 255, 0.12);
  --fc-tooltip-text: var(--tg-theme-text-color, #fff);
}

body {
  margin: 0;
  padding: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--tg-theme-bg-color, #fff);
  color: var(--tg-theme-text-color, #000);
}

header {
  margin-bottom: 12px;
}

#calendar {
  background: var(--tg-theme-secondary-bg-color, #f5f5f5);
  padding: 8px;
  border-radius: 12px;
}

.fc-tooltip {
  position: absolute;
  z-index: 9999;
  max-width: 260px;
  padding: 10px 12px;
  font-size: 13px;
  background-color: var(--fc-tooltip-bg);
  color: var(--fc-tooltip-text);
  border: 1px solid var(--fc-tooltip-border);
  border-radius: 12px;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.4),
    inset 0 0 0 0.5px rgba(255, 255, 255, 0.04);
}

.fc-tooltip p {
  margin: 6px 0;
}

.fc-tooltip strong {
  color: var(--tg-theme-link-color, #4ea1ff);
}

.fc-multimonth-title {
  background-color: var(--fc-day-bg);
}


/* обычный день */
.fc-daygrid-day-frame {
  background-color: var(--fc-day-bg);
  min-height: 120px;
}

/* заголовок дня недели */
.fc-col-header-cell {
  background-color: var(--fc-day-bg);
  color: var(--fc-day-text);
}

/* границы */
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: var(--fc-day-border);
}

[data-tg-theme="dark"],
:root[data-theme="dark"] {
  --fc-day-bg: #1c1c1e;
  --fc-day-border: rgba(255, 255, 255, 0.1);
}

.fc-day-today .fc-daygrid-day-frame {
  background-color: var(--fc-today-bg);
  color: var(--fc-today-text);
}

