body {
  margin: 0;
  padding: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--tg-theme-bg-color, #fff);
  color: var(--tg-theme-text-color, #000);
}

header {
  margin-bottom: 12px;
}

#calendar {
  background: var(--tg-theme-secondary-bg-color, #f5f5f5);
  padding: 8px;
  border-radius: 12px;
}

.fc-tooltip {
  position: absolute;
  z-index: 9999;
  max-width: 260px;
  background: var(--tg-theme-secondary-bg-color, #fff);
  color: var(--tg-theme-text-color, #000);
  border-radius: 12px;
  padding: 10px 12px;
  box-shadow: 0 6px 24px rgba(0,0,0,0.15);
  font-size: 13px;
}

.fc-tooltip p {
  margin: 6px 0;
}

:root {
  --fc-day-bg: var(--tg-theme-secondary-bg-color, #f5f5f5);
  --fc-day-text: var(--tg-theme-text-color, #222);
  --fc-day-border: rgba(255, 255, 255, 0.08);
}

.fc-multimonth-title {
  background-color: var(--fc-day-bg);
}


/* обычный день */
.fc-daygrid-day-frame {
  background-color: var(--fc-day-bg);
}

/* заголовок дня недели */
.fc-col-header-cell {
  background-color: var(--fc-day-bg);
  color: var(--fc-day-text);
}

/* границы */
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: var(--fc-day-border);
}

[data-tg-theme="dark"],
:root[data-theme="dark"] {
  --fc-day-bg: #1c1c1e;
  --fc-day-border: rgba(255, 255, 255, 0.1);
}

.fc-day-today .fc-daygrid-day-frame {
  background-color: rgba(46, 166, 255, 0.15);
}

